In [6]:
sum = 0
for i in range(1,11):
    sum+=i
print (sum)

55

In [9]:
print("Hello world")

Hello world

In [16]:
a = 10
b = 20 
c = a+b
print (c)

30

In [20]:
mycity = "Chennai"
print (my_city)

Chennai

In [22]:
country = "India"
print("My country name is ",country,"\nMy city name is ",mycity)

My country name is  India
My city name is  Chennai

In [24]:
a = 10
b = 20
c = 40
d = 80
e = 90
print(a/b+b+c+d*e)

7260.5

In [1]:
s = "Hi" * 2
s

'HiHi'

In [33]:
x = (input("Enter value for x:"))
y = (input("Enter value for y:"))
print (x+y)

Enter value for x:Sachin
Enter value for y:Cricket
SachinCricket

In [30]:
collegeName = input()
print("My college name is ",collegeName )

valliammai engineering college
My college name is  valliammai engineering college

In [36]:
firstName = "Siva"
print(firstName)

Siva

In [38]:
%discount = 10

UsageError: Line magic function `%discount` not found.

In [39]:
name = input()
print(name[0])

Relearn pro
R

In [43]:
collegename = input()
print(collegename[2:6])
print(len(collegename))
print(collegename[2:12])

valliammai Engineering College
llia
30
lliammai E

In [46]:
print(collegename[:5])
print(collegename[5:])

valli
ammai Engineering College

In [47]:
x=input()
print(len(x))

Relearn Pro
11

In [48]:
firstname = input()
lastname = input()
print(firstname+lastname)

Relearn
Pro
RelearnPro

In [52]:
a = input()
print(a.upper())

Relearn Pro
RELEARN PRO

In [53]:
a = input()
print(a[::-1])

Test
tseT

In [57]:
x = "Relearn Pro  "
print(len(x))
y = x.strip()
print(len(y))

13
11

In [58]:
a = input()
print(a.replace('r','s'))

relearn pro
seleasn pso

In [59]:
a = input()
print(a.swapcase())

Relearn Pro
rELEARN pRO

In [2]:
a = input()
b = '-'
print(b.join(a))

Relearn
R-e-l-e-a-r-n

List

In [6]:
my_list = ["Relearn","Pro","ML",12,5.7]
my_list

['Relearn', 'Pro', 'ML', 12, 5.7]

In [12]:
num = int(input("Input:"))
print(num%5) 
print(num/4)
print(num//4) # Floor

Input:7
2
1.75
1

In [16]:
num = 15
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [18]:
num = 15
if num % 2 != 0:
    print("Odd")
else:
    print("Even")

Odd

In [19]:
num = int(input())
if num > 100 and num < 1000: # for and operator either (and or &)
    print("Yes")
else:
    print("No")
# for or operator either (or or |)

500
Yes

In [21]:
a = "abcdefgh"
if 'abc' in a:
    print("Yes")
else:
    print("No")

Yes

In [23]:
a = "abcdefgh"
if 'abd' in a:
    print("Yes")
else:
    print("No")

No

In [1]:
sum = 0
for i in range(0,11):
    print(i)
    sum += i
print("sum =",sum)

0
1
2
3
4
5
6
7
8
9
10
sum = 55

In [3]:
num = 10
while num != 0:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

In [4]:
for i in range(1,5):
    print(i)
else:
    print("End of loop")

1
2
3
4
End of loop

In [5]:
num = 10
while num != 0:
    print(num)
    num -= 1
else:
    print("End")

10
9
8
7
6
5
4
3
2
1
End

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [11]:
for i in range(10,2,-3):
    print(i)

10
7
4

In [15]:
name = "relearn pro"
vowel = "aeiou"
for i in name:
    if i in vowel:
        print(i)

e
e
a
o

In [30]:
for i in range(5):
    for j in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *

In [31]:
for i in range(4):
    print(i,end=" ")

0 1 2 3

In [35]:
a = [100,200,300,2.3,2+4j,"Test"]
a

[100, 200, 300, 2.3, (2+4j), 'Test']

In [37]:
month = ["jan",'Feb','march']
for i in month:
    print(i)

jan
Feb
march

In [39]:
month[1]

'Feb'

In [42]:
list1 = ["One","Two","Three",45]
list2 = ["Four","Five",24]
list3 = list1 + list2
print(list3)

['One', 'Two', 'Three', 45, 'Four', 'Five', 24]

In [47]:
list1 = [0,1,2,3,4,5,6,7,8,9]
print(list1[::2])
print(list1[::3])

[0, 2, 4, 6, 8]
[0, 3, 6, 9]

In [51]:
t = (100,200,'test')
print(t[0],t[2])

100 test

In [55]:
items = (1000,"stars","wars")
print(items[0],items[1])

1000 stars

In [58]:
list1 = [10,20,30]
list1.append(40)
list1.append(80)
print(list1)
t = (100,200,'test')
t.append(12)

[10, 20, 30, 40, 80]

AttributeError: 'tuple' object has no attribute 'append'

In [63]:
list2 = [10,20,30,40]
list2[1] = 25
print(list2)
print(type(list2))

[10, 25, 30, 40]
<class 'list'>

In [65]:
t2 = (10,20,30,40)
print(type(t2))
t2[1] = 25
print(t2)

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [72]:
values = [1,2,3,4,-1,-2]
values.sort()
print(values)
values.sort(reverse=True)
print(values)

[-2, -1, 1, 2, 3, 4]
[4, 3, 2, 1, -1, -2]

In [75]:
s1 = {1,2,1,2,3,1,2,2,2}
for i in s1:
    print(i)

1
2
3

In [77]:
s2 = {1,-5,100,200,200,400,100}
list4 = list(s2)
print(list4)

[1, 100, 200, 400, -5]

In [79]:
list1 = [2,3,4,5,89]
print(list1[::-1])

[89, 5, 4, 3, 2]

In [5]:
list1 = [2,3,4,5,89,2]
for i in list1:
    if i != 2:
        list1.remove(i)
print(list1)

[2, 4, 89, 2]

In [89]:
list1 = [1,2,3,34,56]
del list1[2]
print(list1)

[1, 2, 34, 56]

In [95]:
cities = ("Chennai","Del","Ban","Del","Pune","Del")
print(len(cities))
print(max(cities))
print(cities.count("Del"))

6
Pune
3

In [97]:
a = [10,20,30,40,50]
a.insert(2,100)
print(a)

[10, 20, 100, 30, 40, 50]

In [99]:
b = (10,20,30)
b.insert(3,100)
print(b)

AttributeError: 'tuple' object has no attribute 'insert'

In [102]:
d1 = {"A":1,"B":2,"C":3}
print(d1)

{'A': 1, 'B': 2, 'C': 3}

In [106]:
print(d1['A'])
print(d1['B'])
print(d1['D'])

1
2

KeyError: 'D'

In [108]:
d1['D'] = 25
print(d1)

{'A': 1, 'B': 2, 'C': 3, 'D': 25}

In [110]:
d1['A'] = 22
print(d1)

{'A': 22, 'B': 2, 'C': 3, 'D': 25}

In [112]:
for i in d1.keys():
    print(i)

A
B
C
D

In [114]:
for i in d1.values():
    print(i)

22
2
3
25

In [116]:
for k,v in d1.items():
    print(k,":",v)

A : 22
B : 2
C : 3
D : 25

In [1]:
del d1['A']
print(d1)

NameError: name 'd1' is not defined

In [1]:
t3 = "aki","ilesh"
type(t3)

tuple

In [1]:
a = 0.9300075139131084
if a>0.5:
    print("Yes")

Yes

In [3]:
import numpy as np
arr1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
for i in range(arr1.shape[0]):
    for j in range(arr1.shape[1]):
        print(arr1[i,j],end=" ")
    print()

1 2 3
4 5 6
7 8 9